body {
	background-color: white;
	margin: 0;
}
main {
	background-color: goldenrod;
	display: grid;
	width: 60vw;
	height: 100vh;
	justify-self: center;
	align-items: center;
}

/* section {
	display: grid;
	justify-self: center;
} */

/* img {
	display: flex;
	justify-self: center;
} */

.tonys_logga{
	width: auto;
}

main_section {
	display: grid;
	height: 100vh;
}

.order_text {
	margin: 0;
}


.pizza_orders_header {
	margin: 0;
	margin-bottom: 60px;
	justify-self: center;
	text-decoration: underline;
}

h3 {
	margin: 0;
	font-weight: 500;
	margin-top: 15px;
}

orders {
	display: flex;
	margin-bottom: 100px;
	margin-left: 100px;
	width: fit-content;
	height: fit-content;
}

div {
	display:grid;
	height: fit-content;
	margin-top: 15%;
}

.pizza_display{
	width: 300px;
}