body {
	background-color: white;
	margin: 0;
}
main {
	background-color: goldenrod;
	display: grid;
	width: 60vw;
	height: 100vh;
	justify-self: center;
	align-items: center;
}

section {
	display: grid;
	justify-self: center;
}

img {
	display: flex;
	justify-self: center;
	size: width 200px;
	height: 200px;
}

