body {
	background-color: white;
	margin: 0;
}
main {
	background-color: goldenrod;
	display: grid;
	width: 60vw;
	height: 100vh;
	justify-self: center;
	align-items: center;
}

/* section {
	display: grid;
	justify-self: center;
} */

/* img {
	display: flex;
	justify-self: center;
} */

.tonys_logga{
	width: auto;
}

main_section {
	display: grid;
	height: 100vh;

}

.order_text {
	margin: 0;
}
h3 {
	margin: 0;
}

orders {
	background-color: goldenrod;
	display: grid;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 900px;
}

.pizza_display{
	width: 600px;
}