<h1>Pizzas (/pizzas/<%= pizzas.id %>)</h1>

<h2>
	<a href="/pizzas/<%= pizzas.id %>/edit"><%= pizzas.name %></a>
	<form action="/pizzas/<%= pizzas.id %>/destroy" method="post">
		<button type="submit">Destroy Pizza</button>
	</form>
</h2>
